*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./img\ 1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

 .form-container {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    position: relative;
} 


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #4cae4c;
}
.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}